__pycache__
.vscode
*-results
.ipynb_checkpoints

# Loss data
*loss.csv

# Sega playback files
*.bk2
*.mp4

# Tensorflow checkpoints
checkpoints

# Training data
*.npz

# Sega roms
roms

# pip artifact
src
